.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.errStyle
{
    border-color: Red;
    background-color: #FFF5F5;
}
.noErrStyle
{
    border-color: Gray;
    background-color: White;
}
.BaslikSatiri
{
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
	background-repeat: no-repeat;
	height: 25px;
	padding-left: 5px;
}
.WaterMark
{
	font-family: Trebuchet MS;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	border-color: Gray;
}
.Tablom
{
    text-align:center;
}
.OdemeSecenekSatiri
{
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.TableData
{
	font-family: Trebuchet MS;
	font-size: 11px;
	font-weight: normal;
	vertical-align: middle;	
	height: 20px;
	padding-left: 5px;
	background-repeat: no-repeat;
}

.tdDetail
{
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: normal;
	vertical-align: middle;
	padding-left: 5px;
}

.text
{
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: normal;
	border-color: Gray;
}

.textBox
{
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	border-color: Gray;
}

a
{
	text-decoration: none;
	color: #F03307;
}

a:hover
{
	text-decoration:underline;
}

img
{
	border: solid 0px #FF6600;
}

.imgThumb
{
	border: solid 1px #FF6600;
}

.ddList
{
	font-family: Trebuchet MS;
	font-size: 11px;
	width: 150px;
}
.Baslik
{
    color: #FF6600;
}
.gizle
{
    display:none;
}
.goster
{
    direction:inherit;
}
.Tah11 
{
	font-family: Tahoma;
	font-size: 11px;
	text-decoration: none;
	color: #555555;
}
.LinkTable td
{
	height: 25px;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #EBEBEB;
}
/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #FF6600;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color:#FF9900;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px solid #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
.highlightit img
{
    border: 1px solid navy;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 0.5;
}

.highlightit:hover img
{
     border-style: solid;
    border-color: #FF0000;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 1;
}
.borderit img
{
     border: 1px solid navy;
}
.selectedCCard
{
    border: 3px solid #CC0000;
}

.borderit:hover img
{
    border: 3px solid #CC0000;
   
}

.borderit:hover{
color: red; /* irrelevant definition to overcome IE bug */
}

.Clock
{
    text-align:center;
    vertical-align:middle;
    background-image:url('Images/Ajax/ajax_loader_32.gif';
}


.SlideShow { border: solid 2px #6098CF; }
.SlideShow tfoot td { text-align: right; }
.SlideShow tfoot td button { font: 11px Trebuchet MS; }

.gray {color:#818181}
.dark_gray {color:#565656}
.red {color:#980D10}
.dark {color:#353434};
;
;
;
;
;
;
;
;
;
;
;
;
;
;
