#navcontainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1em; WIDTH: 187px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif; align: center
}
#navcontainer UL {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; LIST-STYLE-TYPE: none
}
#navcontainer LI {
	BORDER-TOP: #72828b 0px solid; MARGIN: 0px; BORDER-BOTTOM: #72828b 1px solid
}
#navcontainer LI A {
	BORDER-RIGHT: #e5eaf0 10px solid; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 5px; BORDER-LEFT: #e5eaf0 10px solid; COLOR: #21536a; PADDING-TOP: 5px; BACKGROUND-COLOR: #e5eaf0; TEXT-DECORATION: none
}
#navcontainer LI A:hover {
	BORDER-RIGHT: #ddeeff 10px solid; BORDER-LEFT: #ddeeff 10px solid; COLOR: #21536a; BACKGROUND-COLOR: #ddeeff
}

BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}

.MasterText {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Trebuchet MS;
}

.rightbarheadline {
	BORDER-RIGHT: #717578 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #717578 1px solid; COLOR: #747474; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #c6cfd0
}

.rightbarlink {
	FONT-SIZE: 11px; COLOR: #747474; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}

.footertext {
	FONT-SIZE: 10px; COLOR: #747474; FONT-FAMILY: verdana, arial, sans-serif;
}

.button {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #f5f7f7; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; WIDTH: 130px; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}

.inputlogin {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 130px; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; align: left
}